// QUATITY IN PRODUCT
.qty{
	width: 61px;
	position: relative;
	p{
		background-color: $black;
		border: 1px solid $black;
		border-bottom: none;
		color: $grey-light;
		display: block;
		top: -28px;
		width: 61px;
		height: 28px;
		position: absolute;
	}
	.qty-size{
		text-align: center;
		width: 61px;
		height: 40px;
		border: 1px solid $black;
		border-bottom: none;
		&:disabled {
			background-color: $white;
			color: $grey-light;
		}
	}
	.btn-control{
		position: absolute;
		border: 1px solid $black;
		background-color: $white;
		font-size: 10px;
		color: $black;
		margin-top: -1px;
		width: 32px;
		height: 28px;
		padding: 7px 7px;
		&.minus {
			left: 0px;
			border-right: none;
			&:hover {
				background-color: $black;
				color: $white;
			}
		}
		&.plus {
			right: 0px;
			border-left: 1px solid $black;
			&:hover {
				background-color: $black;
				color: $white;
			}
		}
		&:disabled {
			color: $grey-light;
			border-color: $grey-dark;
			&:hover {
				background-color: $white;
				border-color: $grey-dark;
				color: $grey-light;
			}
		}
	}
}

// QUANTITY IN CART
.qty-cart {
	.qty-size, .btn-control {
		border: 1px solid $black;
		font-size: 8px;
		width: 24px;
		height: 24px;
	}
	.qty-size {
		border-color: $grey;
		font-size: 12px;
		padding: 3px 3px;
		text-align: center;
		width: 41px;
	}
	.btn-control {
		padding: 5px 5px;
		background-color: $black;
		color: $white;
		font-size: 6px;
		&:disabled {
			background-color: $grey-dark;
			color: $grey-dark;
			border-color: $grey-dark;
		}
	}
}