.searching-product{
	margin-top: 5px;
	.input-search {
		background-color: transparent;
		&:focus {
			border-bottom: $space-1 solid $black;
			background-color: transparent !important;
			color: $black !important;
			-webkit-transition: 0.4s ease;
			-moz-transition: 0.4s ease;
			-o-transition: 0.4s ease;
			transition: 0.4s ease;
		}
	}
}