// color 1 36D7B7 green
// color 1 FF9999 pink
// color 2 2E3233
// color 3 2E3233
// color 4 F2F2F2
$color1: #000;
$color2: #dedede;
$color3: #f8afad;

@import "bootstrap";
@import "variable";
@import "nav";
@import "breadcrumb";
@import "productgrid";
@import "filter_product";
@import "search_product";
@import "form";
@import "quantity_control";
@import "footer";

html, body {
	height: 90%;
}
body {
	font-weight: 400;
	letter-spacing: 0.01em;
}
.wrapper {
	min-height: 100%;
	&:after {
		content: "";
		display: block;
	}
}
