$color1: #000;
$color2: #dedede;
$color3: #f8afad;

@import "bootstrap";
@import "variable";
@import "breadcrumb";
@import "productgrid";
@import "filter_product";
@import "search_product";
@import "form";
@import "quantity_control";
@import "footer";

html, body {
	height: 100%;
}
body {
	font-weight: 400;
	letter-spacing: 0.02em;
}
.wrapper {
	min-height: 100%;
	margin-bottom: -120px; 
	&:after {
		content: "";
		display: block;
	}
}
