// ––––––––––––––––––––––––––– CHECKBOX –––––––––––––––––––––––––––
/* CSS used here will be applied after bootstrap.css */	/* custom checkboxes */
	.custome-checkbox > [type="checkbox"],
	.custome-checkbox > label{
		margin-bottom:0px !important;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		font-weight: 300;
	}
	.custome-checkbox > [type="checkbox"]:not(:checked),
	.custome-checkbox > [type="checkbox"]:checked {
	    opacity: 0;   
		position: absolute;
		left: -9999px;
	}
	.custome-checkbox > [type="checkbox"]:not(:checked) + label,
	.custome-checkbox > [type="checkbox"]:checked + label {
		position: relative;
		padding-left: 30px;
		cursor: pointer;
	}
	.custome-checkbox > [type="checkbox"]:not(:checked) + label:before{
		content: '';
		position: absolute;
		left:0; 
		top: 20%;
		margin-top:-3px;
		width: 17px; 
		height: 17px;
		background: $grey-light;
	}
	.custome-checkbox > [type="checkbox"]:checked + label:before {
		content: '';
		position: absolute;
		left:0; 
		top: 20%;
		margin-top:-3px;
		width: 17px; 
		height: 17px;
		background: $black;
	}
	.custome-checkbox > [type="checkbox"]:not(:checked) + label:after,
	.custome-checkbox > [type="checkbox"]:checked + label:after {
		content: '\f00c';
	    font-family: 'FontAwesome';
	    font-size: 11px;
		position: absolute;
		top: 20%;
		margin-top:-2px;
		left: 3px;
		color: #fff;
		xtransition: all .2s;
	}
	.custome-checkbox > [type="checkbox"]:not(:checked) + label:after {
		opacity: 0;
		transform: scale(0);
	}
	.custome-checkbox > [type="checkbox"]:checked + label:after {
		opacity: 1;
		transform: scale(1);
	}
	
	.custome-checkbox > [type="checkbox"][data-indeterminate] + label:after,
	.custome-checkbox > [type="checkbox"][data-indeterminate] + label:after {
		content: '\2212';
		left: 2px;
		opacity: 1;
		transform: scale(1);
	}
	
	.custome-checkbox > [type="checkbox"]:disabled:not(:checked) + label:before,
	.custome-checkbox > [type="checkbox"]:disabled:checked + label:before {
	  	box-shadow: none;
	  	background-color: #eeeeee;
		border-color: #eeeeee;
		cursor: not-allowed;
		opacity: 1;
		color: #dadada;
	}
	.custome-checkbox > [type="checkbox"]:disabled:checked + label:after {
	  color: #dadada; cursor: not-allowed;
	}
	.custome-checkbox > [type="checkbox"]:disabled + label {
	  color: #aaa; cursor: not-allowed;
	}
	.custome-checkbox > [type="checkbox"]:checked:focus + label:before,
	.custome-checkbox > [type="checkbox"]:not(:checked):focus + label:before {
		border: 1px solid $grey;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
	}
	.custome-checkbox > label:before {
  		border: 1px solid $grey-dark !important;
	}
	.custome-checkbox > [type="checkbox"]:disabled:not(:checked) + label:hover:before,
	.custome-checkbox > [type="checkbox"]:disabled:checked + label:hover:before{
		border: 1px solid #E4E4E4 !important;
	}
// ––––––––––––––––––––––––––– SELECT BOX –––––––––––––––––––––––––––
select.form-control{
	border-radius: 0;
	outline: none;
	box-shadow: none;
	overflow: hidden;
	background: #fff url("../../../images/select2x2.png") no-repeat right -90px top -6px;
	-webkit-appearance: none;
	-moz-appearance: none;
}