.box-grid{
	padding: 0;
	border-radius: 0;
	> a {
		display: block;
		position: relative;
		&:after {
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;	
		}
		&:hover {
			color: $grey;
			&:after{
				background-color: rgba(0, 0, 0, 0.1);
				position: absolute;
				top: 0;
				height: 100% !important;
				width: 100% !important; 
			}
		}
	}
	.box-item{
		min-height: 95px;
		.title{
			min-height: 58px;
			h4{
				color: $black;
				font-weight: 300;
				letter-spacing: 0.04em;
				margin: 10px;
			}
		}
		.price{
			min-height: 30px;
			padding-bottom: 5px;
			text-align: center;
		}
		.price-promo{
			color: $black;
			font-size: 15px;
			font-weight: 300;
			margin-bottom: 0px;
			position: relative;
			&::after {
				border-bottom: 0.180em solid rgba(255, 0, 0, 0.8);
				content: "";
				left: 0;
				line-height: 1em;
				margin-top: calc(0.200em / 2 * -1);
				position: absolute;
				right: 0;
				top: 50%;
				max-width: inherit;
			}
		}
	}
}